@import "../../variables.scss";
.input-div {
  @include flex(space-evenly);
  .input-style {
    max-width: 300px;
    border: 2px solid var(--light-purple);
    transition: border 0.2s ease-in-out;
    transform-origin: left;
  }
  .input-style:hover,
  :focus {
    outline: none;
    border-color: var(--dark-purple);
  }
}
