@import "../../../../variables.scss";
.availability-form {
  max-width: 500px;
  border: 2px solid var(--light-purple);
  border-radius: 1em;
  h1 {
    font-size: 30px;
    font-weight: 700;
  }
  textarea {
    resize: none;
  }
  .input-form-style {
    width: calc(100% - 6em);
    background-color: var(--grey);
    display: block;
    margin: 3em;
    padding: 0.5em;

    .input-form-style:active,
    .input-form-style:focus {
      color: var(--dark-purple);
      border: 2px solid;
    }
  }

  .button-form {
    background-color: var(--light-purple);
    transition: background-color 0.2s, color 0.2s;
    border-radius: 5px;
    margin-bottom: 2em;
    padding: 1em 3em;
    &:hover {
      background-color: var(--dark-purple);
      color: white;
    }
  }
}
