@import "../../variables.scss";
.input-div {
  @include flex(space-evenly);
  .input-style {
    max-width: 300px;
    border: 2px solid var(--light-purple);
    transition: border 0.2s ease-in-out;
  }
  .input-style:hover,
  :focus {
    outline: none;
    border-color: var(--dark-purple);
  }
}

@media (max-width: 1024px) {
  .input-div {
    display: block;
    .input-style {
      display: block;
      margin: 1em auto;
      width: 100%;
    }
  }
}
