@import "../../variables.scss";
.div-container {
  max-width: 100%;
  margin-top: 3em;
  @include flex(space-evenly);
  flex-wrap: wrap;
  fieldset {
    min-height: 150px;
    min-width: 200px;
    padding: 1em;
    border: 2px solid var(--light-purple);
    margin: 0.5em;
    label {
      padding: 0 0.5em;
    }
    legend {
      padding: 0 0.5em;
    }
  }
  .fieldset-off {
    border: 2px dotted var(--light-purple);
    user-select: none;
    pointer-events: none;
    color: grey;
  }
}
